examples/09-scene-control.json
[
  {
    "id": "ex09-tab",
    "type": "tab",
    "label": "KNX/IP — scene control (DPT 17/18)",
    "disabled": false,
    "info": "Recall and learn KNX scenes via the *scene* node.\n\n**Setup**:\n1. Configure the tunnel.\n2. Open the *scene* node and set the Default GA to your scene group address.\n3. The first three injects recall scenes 1, 2, 3 (DPT 17.001 — plain scene number).\n4. The fourth inject recalls scene 5 with explicit DPT 18.001 (\"activate\").\n5. The fifth inject *learns* the current state into scene 5 (DPT 18.001 \"learn\").\n\nThe scene node encodes the right APDU and the writer pushes it to the bus."
  },
  {
    "id": "ex09-comment",
    "type": "comment",
    "z": "ex09-tab",
    "name": "Scene 1..3 = simple recall · Scene 5 = activate / learn (DPT 18.001)",
    "info": "",
    "x": 310,
    "y": 60,
    "wires": []
  },
  {
    "id": "ex09-scene-1",
    "type": "inject",
    "z": "ex09-tab",
    "name": "Scene 1",
    "props": [{ "p": "payload" }],
    "payload": "1",
    "payloadType": "num",
    "x": 130,
    "y": 120,
    "wires": [["ex09-scene"]]
  },
  {
    "id": "ex09-scene-2",
    "type": "inject",
    "z": "ex09-tab",
    "name": "Scene 2",
    "props": [{ "p": "payload" }],
    "payload": "2",
    "payloadType": "num",
    "x": 130,
    "y": 160,
    "wires": [["ex09-scene"]]
  },
  {
    "id": "ex09-scene-3",
    "type": "inject",
    "z": "ex09-tab",
    "name": "Scene 3",
    "props": [{ "p": "payload" }],
    "payload": "3",
    "payloadType": "num",
    "x": 130,
    "y": 200,
    "wires": [["ex09-scene"]]
  },
  {
    "id": "ex09-scene-activate",
    "type": "inject",
    "z": "ex09-tab",
    "name": "Activate 5",
    "props": [{ "p": "payload" }],
    "payload": "{\"sceneNumber\":5,\"control\":\"activate\"}",
    "payloadType": "json",
    "x": 140,
    "y": 250,
    "wires": [["ex09-scene"]]
  },
  {
    "id": "ex09-scene-learn",
    "type": "inject",
    "z": "ex09-tab",
    "name": "Learn 5",
    "props": [{ "p": "payload" }],
    "payload": "{\"sceneNumber\":5,\"learn\":true}",
    "payloadType": "json",
    "x": 130,
    "y": 290,
    "wires": [["ex09-scene"]]
  },
  {
    "id": "ex09-scene",
    "type": "eelectron-knxip-scene",
    "z": "ex09-tab",
    "name": "scene encoder",
    "groupAddress": "5/1/1",
    "mode": "auto",
    "x": 360,
    "y": 200,
    "wires": [["ex09-writer"]]
  },
  {
    "id": "ex09-writer",
    "type": "eelectron-knxip-writer",
    "z": "ex09-tab",
    "name": "",
    "config": "",
    "etsConfig": "",
    "groupAddress": "",
    "dpt": "",
    "dedupeWindowMs": 0,
    "x": 560,
    "y": 200,
    "wires": []
  }
]
